:root{
  --mainBlue:#009f;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;

}
body{
  font-family: 'Gelasio', serif !important;
  background: var(--mainWhite) !important; 
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Girassol', cursive; 
  letter-spacing: 0.3;
  text-transform: uppercase;
  align-items: center;
}
.text-blue{
  color: var(--mainBlue) !important;
}
.text-bright{
  color: var(--lightBlue);
}
.navbar{
  background: #007b !important;
}
/* 
.btn-black{
  background:gray;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: #000;
  border-radius: 0 !important;
  border: 0.1rem solid #000 !important;

} 

.btn-black:hover{
  background: #000 !important;
  color: aliceblue !important;

} */
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: #007bff !important;
}
